<div class="mt-4">
    <h3>List Category</h3>

    <form method="POST" action="/category/store">
        <div class="form-group">
            <label for="name">Category Name</label>
            <input type="text" require class="form-control" id="name" name="name">
        </div>
         <div class="form-group">
            <label for="description">Description</label>
            <input type="text" required class="form-control" id="description" name="description">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" >Add </button>
    </form>
</div>