<div class="mt-4">

<h2>Category</h2>

 
 {{#each categories }}
        <div class="col">
            <div class="p-3 border bg-light">
                <a>{{this.description}}</a>
                <p>{{this.name}}</p>
                <button>Delete</button>
             </div>
             
        </div>
{{/each}}
    

</body>
</div>

    