<div class="container px-4">
    <div class="row gx-5">
        {{#each ideas}}
        <div class="col">
            <div class="p-3 border bg-light">
                <a>{{this.title}}</a>
                <p>{{this.description}}</p>
                <a href="/idea/detail/{{this.slug}}" class="btn btn-primary">Detail Idea</a>
            </div>
        </div>
         {{/each}}
    </div>
</div>

<!--<h1>Hello ca nha</h1>-->
<!--<a href="/auth/logout">Logout</a>-->