{{> main}}
<div class="container">
    {{#each ideas}}
    <div class="list-group">
        <a href="/idea/detail/{{this.slug}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{this.title}}</h5>
                <small class="text-muted">Time</small>
            </div>
            <p class="mb-1">
                {{this.description}}
            </p>
            <small class="text-muted">Reaction.</small>
        </a>
    </div>
        <br>
    {{/each}}
</div>