html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  overflow-x: hidden; }

.form-body {
  height: 650px; }

.account-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px; }

.idea-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px; }

.dropdown {
  margin-right: 4px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif; }
