@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
//background: white;
    background-attachment: fixed;
//background-image: url(/img/bghome.jpg);
//background: url(img/banner3.jpg);
}
.wrapper-coloured {
    padding-top: 30px;
    margin-left: 370px;
}
#infor{
    display: none;
}
article img {
    height: 10px;
    width: 100px;
}
#content-home {
    color: black;
    padding-left: 600px;
    padding-top: 40px;
}
.wrapper-coloured h3{
    margin-bottom: 10px;
}