#register {
  width: 320px;
  height: 730px;
  border: 1px solid #d4c1c1;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white; }

#register .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px; }

#register .form h2 {
  color: #dd8787;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 20px; }

input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  padding: 0 15px;
  color: #070707;
  border-radius: 5px;
  font-size: 14px; }

input[type='text'] {
  outline: none; }
