* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.login {
  width: 320px;
  height: 450px;
  border: 1px solid rgb(212, 193, 193);
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
.login .form h2 {
  color: rgb(221, 135, 135);
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(31, 135, 231, 0.1);
  padding: 0 15px;
  color: #070707;
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}

.form button.btn {
  background: rgba(35, 156, 90, 0.9);
  color: #444;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}
