#register {
  width: 320px;
  height: 730px;
  border: 1px solid rgb(212, 193, 193);
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
#register .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
#register .form h2 {
  color: rgb(221, 135, 135);
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 20px;
}

// .register .form button {
//   background: rgba(61, 163, 204, 0.9);
//   color: #444;
//   font-size: 15px;
//   margin-top: 40px;
//   font-weight: bold;
//   margin-left: 90px;
// }
// label {
//   display: block;
//   margin-bottom: 5px;
// }
// label i {
//   color: #999;
//   font-size: 80%;
// }
input{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  padding: 0 15px;
  color: #070707;
  border-radius: 5px;
  font-size: 14px;
}
// .box {
//   padding-bottom: 10px;
// }
// .form-inline {
//   border: 1px solid rgba(31, 135, 231, 0.1);
//   padding: 8px 10px 4px;
//   border-radius: 6px;
// }
// .form-inline label,
// .form-inline input {
//   display: inline-block;
//   width: auto;
//   padding-right: 15px;
// }
// .error {
//   color: red;
//   font-size: 90%;
// }
input[type="text"] {
  outline: none;
}
