<div class="mt-4">
    <h3>Set Deadline</h3>

    <div class="card">
        <div class="card-header">
            Set Deadline Idea
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <a href="/task/setDeadlineIdea" class="btn btn-primary">Set Deadline for Idea</a>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            Set Deadline Comment
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <a href="/task/setDeadlineCmt" class="btn btn-primary">Set Deadline for Comment</a>
        </div>
    </div>
</div>