<div class="mt-4">
    <h3>Create Idea</h3>

    {{#if error}}
        <p class="danger">{{message}}</p>
    {{/if}}

    <form  method="POST" action="/idea/store" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>

<!--        <div class="form-group">-->
<!--            <label for="image">Image</label>-->
<!--            <input type="text" class="form-control" id="image" name="image">-->
<!--        </div>-->

        <div class="form-group">
            <label for="file">File</label>
            <input type="file" class="form-control" id="file" name="file" >
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="ideaCategory">Options</label>
            </div>
            <select name="ideaCategory" class="custom-select" id="ideaCategory">
                <option selected>Choose...</option>
                {{#each categories}}
                    <option value={{name}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="slug">Slug</label>
            <input type="text" class="form-control" id="slug" name="slug">
        </div>
        <br>
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Addidea">
         Add Idea
        </button>


<!-- Modal -->
  <!-- Modal -->
<div class="modal fade" id="Addidea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Idea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="checkbox" required name="term1" value="term1">
          <label for="term1">You must enter complete data in the input fields.</label><br>
          <input type="checkbox" required name="term1" value="term1">
          <label for="term1">This idea cannot be updated or deleted after submission.</label><br>
          <input type="checkbox" required name="term2" value="term2">
          <label for="term2">You must choose your task correctly.</label><br>
          <input type="checkbox" required name="term2" value="term2">
          <label for="term2">Are you sure you want to submit this idea?</label><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </div>
</div>

    </form>
</div>
