<div class="center">
<<<<<<< HEAD
    <h1>Login</h1>
    <form>
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
=======
      <h1>Login</h1>
      <form>
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
>>>>>>> 289bd2920d38fee6ee1a933764fa0e9ac0d4e8f1
        </div>
        <div class="pass">Forgot Password?</div>
        {{!-- <input id="btn-login" type="submit" value="Login"> --}}
        <button id="btn-login" class="btn" type="submit">Submit</button>
        {{!-- <div class="signup_link">
          Not a member? <a href="#">Signup</a>
        </div> --}}
<<<<<<< HEAD
    </form>
</div>
=======
      </form>
    </div>
>>>>>>> 289bd2920d38fee6ee1a933764fa0e9ac0d4e8f1
<script>
    let isAuthenticated = false;
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    document.addEventListener('DOMContentLoaded', function (){
      let btnLogin = document.getElementById('btn-login')

        btnLogin.onclick = function (){
            $.ajax({
                url: '/auth/login',
                method: 'POST',
                data: {
                    username: $('#username').val(),
                    password: $('#password').val(),
                }
            })
                    .then(data=>{
                        setCookie('token', data.token, 1);
                        location.assign('/main/show');
                    })
                    .catch(err=>{
                        console.log(err);
                    })
        }
    })
    
</script>