<div class="banner-left">
    <div class="choose">
        <ul>
            <li>
                <a href="/main/show">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Web Enterprise</span>
                </a>
            </li>
            <li>
                <a href="/main/show">
                    <span class="icon"><ion-icon name="arrow-back-outline"></ion-icon></span>
                    <span class="title">Back to Main</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="register">
    <div class="form">
        <h2>Register</h2>
        UserName:<input type="text" id="username"><br>
        PassWord:<input type="text" id="password"><br>
        FullName:<input type="text" id="fullName"><br>
        Phone:<input type="text" id="phone"><br>
        Email:<input type="text" id="email"><br>
        Gender:<input type="text" id="gender"><br>
        Role:<input type="text" id="role"><br>
        <button class="btn" onclick="register()">Register</button>
    </div>
</div>
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function register(){
        $.ajax({
            url:'/auth/register',
            method:'POST',
            data:{
                username: $('#username').val(),
                password: $('#password').val(),
                fullName: $('#fullName').val(),
                phone: $('#phone').val(),
                email: $('#email').val(),
                gender: $('#gender').val(),
                role: $('#role').val(),
            },
            success:function (){
                alert('You was registered successfully');
                location.assign('/');
            },
            error:function (){
                alert('Access failure');
            }
        });
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
