<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Idea Enterprise</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="/">Home</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forTeam">For Team</a>
                </li>
            </ul>
            <form class="d-flex">
                <a href="/auth/loginPage" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Login </a>
            </form>
        </div>
    </div>
</nav>

<!--<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">-->
<!--    <a class="navbar-brand" href="#">Ell </a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="http://fontenele.github.io/bootstrap-navbar-dropdowns/" target="_blank">Github</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#">Disabled</a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1</a>-->
<!--                <ul class="dropdown-menu" aria-labelledby="dropdown1">-->
<!--                    <li class="dropdown-item" href="#"><a>Action 1</a></li>-->
<!--                    <li class="dropdown-item dropdown">-->
<!--                        <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1">-->
<!--                            <li class="dropdown-item" href="#"><a>Action 1.1</a></li>-->
<!--                            <li class="dropdown-item dropdown">-->
<!--                                <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">-->
<!--                                    <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--&lt;!&ndash;        <form class="form-inline mt-2 mt-md-0">&ndash;&gt;-->
<!--&lt;!&ndash;            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
