<div class="banner">
    <div class="left-banner">
        {{!-- <div class="search-box">
            <img src="img/search.png">
            <input type="text">
        </div> --}}
<<<<<<< Updated upstream
        <h1>Idea Enterprise Web<br><span class="title1">Software Development</span></h1>
        <h3>Empowering the world <span class="title1">develop technology through exchange knowledge</span></h3>
        <p>Our public platform serves 10,000 people every month, making it one of the most popular websites in the world. <br>
        
Our asynchronous knowledge management and collaboration offering, we are transforming how people work.</p>
        <div class="btn">
            <button class="btn" type="submit"><a href="/auth/loginPage">Login</a></button>
        </div>
    </div>
    <div class="right-banner">
        <img src="/img/banner1.jpg">
    </div>
=======
        <h1>Enterprise Web <br><span> Software Development</span></h1>
        <h3>Empowering the world <span>develop technology through exchange knowledge</span></h3>
        <p>Our public platform serves 10,000 people every month, making it one of the most popular websites in the world. <br>
        
Our asynchronous knowledge management and collaboration offering, we are transforming how people work.</p>
        {{!-- <div class="btn">
            <button class="btn" type="submit"><a href="/auth/loginPage">Login</a></button>
        </div> --}}
    </div>
    <div class="right-banner">
        <img src="/img/banner.jpg">
    </div>
    {{!-- <div class="btn">
        <button class="btn" type="submit"><a href="/auth/loginPage">Login</a></button>
    </div> --}}
</div>
>>>>>>> Stashed changes
